/* =============================== */
/* === Developer: Fabián Muñoz === */
/* =============================== */

/* ==== NAV FIXED NORMAL ==== */

/* = Variable = */
@backgroundNormal: #3498db; /* Color background MenuBar */
@hoverOptionsNormal: #2980b9; /* Color hover options */
@colorNormal: #FFF; /* Color text MenuBar */
@widthLogoNormal: 40%; /* Width Logo */
@widthOptionsNormal: 59.6%; /* Width Options */
@paddingOptions: 0 25px; /* Padding Options (height menu) */
@heightOptions: 80px; /* Height Options: Summary is the height menuBar completely */

nav.nav-normal {
    background-color: @backgroundNormal;
    color: @colorNormal;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 3px solid white;

    
    .logo {
        // display: inline-block; 
        width: @widthLogoNormal;
        // border: 1px solid yellow;
        line-height: @heightOptions;
    }
    
    .content-ul {
        // display: inline-block; 
        text-align: center;
        width: @widthOptionsNormal;
        
        li {
            display: inline-block;
            
            a {
                display: block;
                line-height: @heightOptions;
                height: @heightOptions;
                padding: @paddingOptions; 
                color: white;
            }
            
        }
        
        li.li-normal-options:hover a{
            background-color: @hoverOptionsNormal;
        }
        
    }
}

/* ==== NAV FIXED BOTTOM ==== */

/* = Variable = */
@backgroundBottom: #3498db; /* Color background MenuBar */
@hoverOptionsBottom: #2980b9; /* Color hover options */
@colorBottom: #FFF; /* Color text MenuBar */
@widthLogoBottom: 40%; /* Width Logo */
@widthOptionsBottom: 59.6%; /* Width Options */
@paddingOptions: 0 25px; /* Padding Options (height menu) */
@heightOptions: 70px; /* Height Options: Summary is the height menuBar completely */

/* HEADER 100% HEIGHT */
header {
	height: 100%;
    background: #cb483b;
	background-position: 50% 60%;
	color: #E6E6E6;
}

nav.nav-bottom {
    background-color: @backgroundBottom;
    color: @colorBottom;
    width: 100%;
    position: absolute; bottom: 0;
    
    .logo {
        // display: inline-block; 
        width: @widthLogoNormal;
        // border: 1px solid yellow;
        line-height: @heightOptions;
    }
    
    .content-ul {
        // display: inline-block; 
        text-align: center;
        width: @widthOptionsNormal;
        
        li {
            display: inline-block;
            
            a {
                display: block;
                line-height: @heightOptions;
                height: @heightOptions;
                padding: @paddingOptions; 
                color: white;
            }
            
        }
        
        li.li-bottom-options:hover a{
            background-color: @hoverOptionsNormal;
        }
        
    }
}

// nav.nav-absolute { position: absolute; bottom: 0; }
nav.nav-fixed { position: fixed; top: 0; bottom: inherit; }


/* == RESPONSIVE == */

/* -- Desktops Medium -- */
@media (max-width: 1230px) {
    
    nav.nav-normal, nav.nav-bottom {
    
        .content-page {
            padding: 0 30px;
        }
        
        .content-ul {
            li a {
                padding: 0 13px;
            }
        }
        
    }
    
}

/* -- Tablets -- */
/* @media (min-width: 768px) and (max-width: 991px) { */
@media (max-width: 991px) {
    
}

/* -- Phone -- */
@media (max-width: 767px) {
    
    nav.nav-bottom, nav.nav-normal {
        position: fixed;
        top: 0;
        bottom: inherit;
        height: @heightOptions;
        overflow: hidden;
        
        .content-page {
            padding: 0 20px;
        }
        
        .logo, .content-ul {
            width: 100%;
        }
        
        .content-ul li {
            width: 100%;
        }
        
    }
    
}