/* =============================== */
/* === Developer: Fabián Muñoz === */
/* =============================== */
/* ==== NAV FIXED NORMAL ==== */
/* = Variable = */
/* Color background MenuBar */
/* Color hover options */
/* Color text MenuBar */
/* Width Logo */
/* Width Options */
/* Padding Options (height menu) */
/* Height Options: Summary is the height menuBar completely */
/* Div que separa los artículos del TOP. Como el nav está flotante (fixed) */
#separador-header {
  height: 100px;
}
/* Mixins */
nav.nav-normal {
  background-color: #e74c3c;
  color: #FFF;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 3px solid white;
}
nav.nav-normal .logo {
  width: 24.6%;
  line-height: 80px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
nav.nav-normal .content-ul {
  width: 75%;
}
nav.nav-normal .content-ul ul {
  text-align: right;
}
nav.nav-normal .content-ul ul li {
  display: inline-block;
}
nav.nav-normal .content-ul ul li a {
  display: block;
  line-height: 80px;
  height: 80px;
  padding: 0 25px;
  color: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
nav.nav-normal .content-ul ul li.li-normal-options:hover a {
  background-color: #c0392b;
}
/* ==== NAV FIXED BOTTOM ==== */
/* = Variable = */
/* Color background MenuBar */
/* Color hover options */
/* Color text MenuBar */
/* Width Logo */
/* Width Options */
/* Padding Options (height menu) */
/* Height Options: Summary is the height menuBar completely */
/* HEADER 100% HEIGHT */
nav.nav-bottom {
  background-color: #e74c3c;
  color: #FFF;
  width: 100%;
  position: absolute;
  bottom: 0;
}
nav.nav-bottom .logo {
  width: 24.6%;
  line-height: 80px;
}
nav.nav-bottom .content-ul {
  width: 75%;
}
nav.nav-bottom .content-ul ul {
  text-align: right;
}
nav.nav-bottom .content-ul ul li {
  display: inline-block;
}
nav.nav-bottom .content-ul ul li a {
  display: block;
  line-height: 80px;
  height: 80px;
  padding: 0 25px;
  color: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
nav.nav-bottom .content-ul ul li.li-bottom-options:hover a {
  background-color: #c0392b;
}
nav.nav-fixed {
  position: fixed;
  top: 0;
  bottom: inherit;
}
/* == RESPONSIVE == */
/* -- Desktops Medium -- */
@media (max-width: 1230px) {
  nav.nav-normal .content-page,
  nav.nav-bottom .content-page {
    padding: 0 30px;
  }
  nav.nav-normal .content-ul li a,
  nav.nav-bottom .content-ul li a {
    padding: 0 13px;
  }
}
/* ==== NAV FIXED TRANSITIONS ==== */
/* = Variable = */
/* Color background MenuBar */
/* Color hover options */
/* Color text MenuBar */
/* Width Logo */
/* Width Options */
/* Padding Options (height menu) */
/* Height Options: Summary is the height menuBar completely */
nav.nav-trans {
  background-color: #e74c3c;
  color: #FFF;
  position: fixed;
  width: 100%;
  max-height: 100%;
  top: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
nav.nav-trans .logo {
  max-width: 24.6%;
  line-height: 80px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
nav.nav-trans .content-ul ul {
  text-align: right;
}
nav.nav-trans .content-ul ul li {
  display: inline-block;
}
nav.nav-trans .content-ul ul li a {
  display: block;
  line-height: 80px;
  padding: 0 25px;
  color: white;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
nav.nav-trans .content-ul ul li.li-trans-options:hover a {
  background-color: #c0392b;
}
.ha-header-small {
  max-height: 50px !important;
}
.ha-header-small .logo,
.ha-header-small .content-ul li a {
  line-height: 50px !important;
}
.ha-header-small .bottonNav {
  line-height: 50px;
}
.ha-header-small .bottonNav svg {
  margin-top: 7px;
}
/* BOTON NAV */
.bottonNav {
  display: none;
  z-index: 1;
  padding-right: 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.bottonNav #bottonNavRef {
  padding: 16px 10px;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  line-height: 50px;
}
.bottonNav svg {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 20px;
}
@media (max-width: 1200px) {
  nav.nav-trans .logo,
  nav.nav-trans .content-ul {
    padding: 0 20px;
  }
}
/* RESPONSIVE */
/* -- Tablets -- */
/* @media (min-width: 768px) and (max-width: 991px) { */
/* -- Phone -- */
@media (max-width: 767px) {
  nav.nav-bottom,
  nav.nav-normal,
  nav.nav-trans {
    position: fixed;
    top: 0;
    bottom: inherit;
    max-height: 80px;
    overflow: hidden;
    overflow: inherit;
  }
  nav.nav-bottom .logo,
  nav.nav-normal .logo,
  nav.nav-trans .logo {
    padding: 0 10px;
  }
  nav.nav-bottom .content-page,
  nav.nav-normal .content-page,
  nav.nav-trans .content-page {
    padding: 0;
  }
  nav.nav-bottom .content-ul,
  nav.nav-normal .content-ul,
  nav.nav-trans .content-ul {
    min-width: 100% !important;
    padding: 0;
  }
  nav.nav-bottom .content-ul ul,
  nav.nav-normal .content-ul ul,
  nav.nav-trans .content-ul ul {
    text-align: center;
  }
  nav.nav-bottom .content-ul li,
  nav.nav-normal .content-ul li,
  nav.nav-trans .content-ul li {
    width: 100%;
  }
  nav.nav-bottom .bottonNav,
  nav.nav-normal .bottonNav,
  nav.nav-trans .bottonNav {
    display: block !important;
  }
  .nav-block {
    max-height: 100% !important;
  }
}
