/* =============================== */
/* === Developer: Fabián Muñoz === */
/* =============================== */
/* ==== NAV FIXED NORMAL ==== */
/* = Variable = */
/* Color background MenuBar */
/* Color hover options */
/* Color text MenuBar */
/* Width Logo */
/* Width Options */
/* Padding Options (height menu) */
/* Height Options: Summary is the height menuBar completely */
nav.nav-normal {
  background-color: #3498db;
  color: #FFF;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 3px solid white;
}
nav.nav-normal .logo {
  width: 40%;
  line-height: 70px;
}
nav.nav-normal .content-ul {
  text-align: center;
  width: 59.6%;
}
nav.nav-normal .content-ul li {
  display: inline-block;
}
nav.nav-normal .content-ul li a {
  display: block;
  line-height: 70px;
  height: 70px;
  padding: 0 25px;
  color: white;
}
nav.nav-normal .content-ul li.li-normal-options:hover a {
  background-color: #2980b9;
}
/* ==== NAV FIXED BOTTOM ==== */
/* = Variable = */
/* Color background MenuBar */
/* Color hover options */
/* Color text MenuBar */
/* Width Logo */
/* Width Options */
/* Padding Options (height menu) */
/* Height Options: Summary is the height menuBar completely */
/* HEADER 100% HEIGHT */
header {
  height: 100%;
  background: #cb483b;
  background-position: 50% 60%;
  color: #E6E6E6;
}
nav.nav-bottom {
  background-color: #3498db;
  color: #FFF;
  width: 100%;
  position: absolute;
  bottom: 0;
}
nav.nav-bottom .logo {
  width: 40%;
  line-height: 70px;
}
nav.nav-bottom .content-ul {
  text-align: center;
  width: 59.6%;
}
nav.nav-bottom .content-ul li {
  display: inline-block;
}
nav.nav-bottom .content-ul li a {
  display: block;
  line-height: 70px;
  height: 70px;
  padding: 0 25px;
  color: white;
}
nav.nav-bottom .content-ul li.li-bottom-options:hover a {
  background-color: #2980b9;
}
nav.nav-fixed {
  position: fixed;
  top: 0;
  bottom: inherit;
}
/* == RESPONSIVE == */
/* -- Desktops Medium -- */
@media (max-width: 1230px) {
  nav.nav-normal .content-page,
  nav.nav-bottom .content-page {
    padding: 0 30px;
  }
  nav.nav-normal .content-ul li a,
  nav.nav-bottom .content-ul li a {
    padding: 0 13px;
  }
}
/* -- Tablets -- */
/* @media (min-width: 768px) and (max-width: 991px) { */
/* -- Phone -- */
@media (max-width: 767px) {
  nav.nav-bottom,
  nav.nav-normal {
    position: fixed;
    top: 0;
    bottom: inherit;
    height: 70px;
    overflow: hidden;
  }
  nav.nav-bottom .content-page,
  nav.nav-normal .content-page {
    padding: 0 20px;
  }
  nav.nav-bottom .logo,
  nav.nav-normal .logo,
  nav.nav-bottom .content-ul,
  nav.nav-normal .content-ul {
    width: 100%;
  }
  nav.nav-bottom .content-ul li,
  nav.nav-normal .content-ul li {
    width: 100%;
  }
}
